* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 8vh;

}


.profile-header {
    display: flex;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 8vh;
    
}


.profile-userinfo{
    display: flex;
    flex-direction: column;
    justify-content:right;
    
}

.profile-img {
    margin-right: 10vw;
}

.profile-header img {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-userinfo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.followbtn{
    margin: 0px 2vw;
    font-weight: bold;
    font-size: medium;
    padding: 12px 30px;
    border-radius: 10px;
    border: 1px solid #0095f6;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
}

.followingbtn{
    margin: 0px 2vw;
    font-weight: bold;
    font-size: medium;
    padding: 12px 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.profile-userinfo-statics{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.profile-userinfo-statics  p{
    text-align: center;
    margin-right: 5vw;
}

.profile-bio{
    margin: 20px 0px;
}

.profile-bio p{
    font-size: 1.2rem;
    font-weight: 400;
}

/* profile images or posts */

.profile-posts{
    display:grid;
    width: 50%;
    margin: auto;
    justify-items: stretch;
    grid-template-columns: repeat(3,1fr);
}

.profile-image {
    width: 20vw;
    box-sizing: border-box;
    object-fit: cover;
    margin:10px;
}

.profile-image img {
    border: 2px solid #e6e6e6;
    width:350px;
    height: 300px;
}